$primary-color: rgb(80, 80, 255); // #5050ff
$accent-color: #ffbb4eef;

$breakpoint-small: 600px;
$screen-spacing-normal: 24px;
$screen-spacing-small: 16px;
$max-text-column-width: 800px;

$button-font-size: .7rem;
$label-font-size: .7rem;